# DIRS
STATE_DIR="${SCRIPT_PARENT}/state"

# CACHE
CACHE_FILE="${STATE_DIR}/cache.txt"
CACHE_TTL_HOURS=1

# DF
DF_EXCLUDE_TYPES=(
	tmpfs
	devtmpfs
	efivarfs
)

# THRESHOLD
THRESHOLD_PERCENT_FREE=25

# ALERT
ALERT_MAIL=1
ALERT_MAIL_TO=""
ALERT_MAIL_SUBJECT="[$(hostname)] [${APP_NAME}]"

# LOG
LOG_LVL=7
# Set this to 1 if script is run by systemd service:
LOG_TO_CONSOLE_WITH_LVL=0
LOG_TO_CONSOLE=1
LOG_TO_FILE=0
LOG_FILE="${SCRIPT_PARENT}/log.txt"